# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
07_behavioral_cloning/data/
07_behavioral_cloning/run1/
06_traffic_sign_classifier/GTSRB/
05_advanced_lane_finding/output_videos/output_challenge_video_v2.mp4
07_behavioral_cloning/run1_03.mp4
07_behavioral_cloning/run1_02.mp4
07_behavioral_cloning/run1_01.mp4
07_behavioral_cloning/run1_04.mp4
07_behavioral_cloning/model_result/model_bak.h5
07_behavioral_cloning/model_result/model_v1.h5
07_behavioral_cloning/model_result/model_v7_add_2counter_clock_wise_base_v6.h5
07_behavioral_cloning/model_result/model_v4_add_left_right_camera_correction.h5
07_behavioral_cloning/model_result/model_v5_add_dropout_base_v4.h5
07_behavioral_cloning/model_result/model_v6_2laps_clock_wise.h5
07_behavioral_cloning/model_result/model_v9_correction_0.1.h5
07_behavioral_cloning/model_result/model_v8_add_1clock_wise_1left_1right.h5
07_behavioral_cloning/model_result/model_v3_with_dropout.h5
07_behavioral_cloning/model_result/model_v2.h5
07_behavioral_cloning/model_result/model_v10_correction0.1_with_datav1.h5
04_finding_lane_lines/challenge_images2/
04_finding_lane_lines/test_images2/
04_finding_lane_lines/test_images_output2/
04_finding_lane_lines/challenge_images1/
